In [1]:
import pandas as pd

In [2]:
csv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.csv'

In [ ]:
csv_df = pd.read_csv(csv_url, skiprows=1)
csv_df

In [7]:
tsv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.tsv'

In [8]:
tsv_df = pd.read_csv(tsv_url, skiprows=1, sep='\t')
tsv_df

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [9]:
xlsx_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter01/Dataset/overall_topten_2012-2013.xlsx?raw=true'

In [11]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [12]:
xlsx_df = pd.read_excel(xlsx_url)
xlsx_df

Empty DataFrame
Columns: [This tab doesn't contain the data we are looking for]
Index: []

In [13]:
xlsx_df1 = pd.read_excel(xlsx_url, skiprows=1, sheet_name=1)
xlsx_df1

,Number,Postcode,Suburbs,Number of Applications
0,1.0,3029.0,"Hoppers Crossing, Tarneit",1069.0
1,2.0,3977.0,"Cranbourne, Devon Meadows, Skye",1037.0
2,3.0,3064.0,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821.0
3,4.0,3030.0,"Point Cook, Werribee, Derrimut",816.0
4,5.0,3754.0,"Doreen, Mernda",530.0
5,6.0,3810.0,"Pakenham, Rythdale",479.0
6,7.0,3350.0,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383.0
7,8.0,3216.0,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351.0
8,9.0,3136.0,"Croydon, Croydon Hills, Croydon North, Croydon...",344.0
9,10.0,3805.0,"Fountain Gate, Narre Warren, Narre Warren South",335.0